# C compiled files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app

# Debug files
*.d
*.pdb

# Library files
*.a
*.lib
*.so
*.dylib

# IDE files (Visual Studio, CLion)
.vs/
.idea/
*.vcxproj
*.sln

# System files
.DS_Store
Thumbs.db
